


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */




/* margin and width */



.display-flex{
    display: flex;
}


/* shared text-color */
.blue{
    color: rgb(1, 172, 253)
}

.org{
    
    
        color: rgb(254, 163, 1);
    
}
/* shARED bg-COLORS */


.sky-blue{
    background-color: rgb(1, 172, 253);
}

.orange{
    
background: rgb(254, 163, 1);
}
.title{
    
    font-size:3.5rem ;
    font-weight: 700;
    ;
    }
    
.description{

color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;

}

/* button styles */

.btn-sec{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px;
    border-radius: 12px;                    
    background: rgb(17, 17, 17);
    }

/* header styles */
.logo-name{
    justify-content: center;
    align-items: center;
}
.nav-box{
  
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.li-item{
    list-style: none;
    margin-left: 32px; 
}
.li-item>a{
    text-decoration: none;
}
.link1{
color: rgb(254, 163, 1);
font-size: 1.25rem;
font-weight: 700;

}
.link2{
color: rgb(1, 172, 253);
font-size: 1.25rem;
font-weight: 700;

}
.link3{
color: rgb(5, 212, 223);
font-size: 1.25rem;
font-weight: 700;

}
.link4{
color: rgb(93, 88, 239);
font-size: 1.25rem;
font-weight: 700;

}

.btn-prm{
    width: 150px;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 600;
padding: 20px;
border: none;
border-radius: 12px;
background: rgb(254, 163, 1);
}

.bar{
    
    display: none;

}
/* EMPOWERMENT STYLES */
.banner{
   
  justify-content: center;
  align-items: center;
}




/* main styles */
main{
    background: url(./assets/bg.png);
}


/* card styles */

.sec-1{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}
.cards{
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-1,.card-2,.card-3{
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.card-link{
    text-decoration: none;
}
.card-btn-1,.card-btn-2,.card-btn-3{

font-size: 1rem;
font-weight: 700;
text-align: center;
}

.card-btn-1{
    color: rgb(100, 200, 255);
}

.card-btn-2{
    color: rgb(240, 170, 0);
}

.card-btn-3{
    color: rgb(135, 0, 255);
}
/* card sizing & shaping */
.card-title{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
    .card-1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
/* arrow styles */
.circle-arrow{
    color: #ffffff;
    display: flex;
justify-content:center ;
text-align: center;
align-items: center;
gap: 20px;

}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
   border-radius: 50%;
}
/* mobile device media query
 */

 @media screen and (max-width:576px){
 
    
    nav{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom:1px solid rgb(254, 163, 1) ;
    
    }
    
    .institute,.menu,.btn-prm{
        display: none;
    }
    .bar{display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner{
        display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

}

.sec-1,.cards
{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
  font-size: 2.5rem;
}
.circle-arrow{
    display: none;
}
 }